.box2{
    
    li{
        list-style: none;
        display: inline-block;
       }
       i{
        font-size: 50px;
        display: inline-block;
    }
    background-color: rgb(240, 197, 137);
    font-size: 40px;
    height: 200px;
    width: 500px;
    border: 2px solid ;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 10%;
    padding-top: 10px;
    padding-left: 10px;
    li{
        margin-top: 70px;
        font-size: 20px;
        margin-left: 18px;
    }
   }